<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">

    <div id="divChart">
            <canvas id="myChart" width="400" height="400">

            </canvas>

</div>

<!--<ngx-charts-pie-grid
    [results]="saleData">
</ngx-charts-pie-grid>-->


                <div class="row">
                    <div class="col-xl-3 col-lg-6" style="margin-left: 100px">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Number of movies by categories</h5>
                                        <br>
                                        <input class="form-control w-200" type="text" name="search" placeholder="Enter Title of category" [(ngModel)]="title" (keyup)="getCategories()">
                                    </div>
                                </div>
                                <br>
                                <div class="font-size-48 font-weight-300 line-height-1 ng-tns-c305-31 text-success mr-2">{{numberOfMoies}}</div>
                                <p class="mt-3 mb-0 text-muted text-sm">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
