
<div class="container" style="margin-left: 10px ;margin-top: 50px">
   
    <div class="row">
      
       

<table  class="styled-table  p-5">
    <thead>
  
        <th scope="col">#</th>
        <th scope="col">Supplier Name</th>
        <th scope="col">Address</th>
        <th scope="col">Number Phone</th>
        <th scope="col">Email</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      
    </thead>
    <tbody>

        <tr  scope="row" *ngFor="let supplier of data ; index as i">
            <td>{{i+1}}</td>
            <td>{{supplier.nomFournisseur}}</td>
            <td>{{supplier.adresse}}</td>
            <td>{{supplier.numTel}}</td>
            <td>{{supplier.email}}</td>
            <td><div><button class="btn btn-primary" (click)="modifySupplier(supplier.id)">modify</button></div></td>
            <td><div><button class="btn btn-danger" (click)="deleteSupplier(supplier.id)">delete</button></div></td>
        </tr>
     
    </tbody>
  </table>

</div>
</div>

