
<div class="card text-center" style="width: 80%; margin: auto; position: relative">
    <div class="card-header">
        Add User
        <!--        <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>-->
    </div>
    <div class="card-body" style="margin-left: -500px">
        <div *ngIf="error" class="alert alert-danger" role="alert">
            Error while adding the user
            </div>
            <div *ngIf="success" class="alert alert-success" role="alert">
               user added
                </div>
        <form >
        <!--        <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

        <div class="form-group">
            <label for="name">username</label>
            <input name="username" type="text" class="form-control input-lg" id="username" placeholder="enter username" [(ngModel)]="username">

        </div>

        <br>

        <div class="form-group">
            <label for="name">email</label>
            <input type="text" class="form-control input-lg" id="email" placeholder="Enter email" name="email" [(ngModel)]="email">

        </div>
        <br>
        <div class="form-group">
            <label for="name">password </label>
            <input name="password" type="password" class="form-control input-lg" id="password"
                   placeholder="password" [(ngModel)]="password">

        </div>
            <br>
      
        <br>

        <div class="form-group">
            <label for="region">name</label>
            <input name="name" type="text" class="form-control input-lg" id="name" placeholder="Enter name" [(ngModel)]="name">

        </div>
        <br>
        <div class="form-group">
            <label for="region">last name</label>
            <input name="lastName" type="text" class="form-control input-lg" id="lastName" placeholder="Enter lastName" [(ngModel)]="lastName">

        </div>
        <br>
        <div class="form-group">
            <label for="name">birthday </label>
            <input name="birthday" type="date" class="form-control input-lg" id="birthday"
                   placeholder="birthday" [(ngModel)]="birthday">

        </div>
        <br>
        <div class="form-group">
            <label for="name">role </label>
            <input name="role" type="text" class="form-control input-lg" id="role"
                   placeholder="role" [(ngModel)]="role">

        </div>

        
        <button class="btn btn-primary  float-right m-5" (click)="onClickAddUser()" >Add user</button>
        </form>
    </div>
</div>
